<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
		<!-- Listener to initialize Spring and Hibernate on first Servlet request -->

	<listener>
		<listener-class>hu.gwsystems.mvc.MVCContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>transferServlet</servlet-name>
		<servlet-class>hu.gwsystems.dnsman.servlets.TransferListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>transferServlet</servlet-name>
		<url-pattern>/transfer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mvcServlet</servlet-name>
		<servlet-class>hu.gwsystems.mvc.PageResolverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvcServlet</servlet-name>
		<url-pattern>*.dns</url-pattern>
	</servlet-mapping>
</web-app>
